.main {
	display: block;
	padding-right: 10%;
}
#logo img{
	float: left;
	max-width: 120px;
	padding-left: 10%;
}
.hname {
	margin: 0px;
}

#name {
	text-align: right;
	color: #555;
	font-size: 25px;
	margin: 0px;
}
.list-title {
	text-align: center;
}
.htitle {
	margin: 0px;
}
#title {
	text-align: right;
	margin: 0px;
	color: #555;
	font-size: 12px;
}
#mainPic {
	display: block;
	padding-right: 30%;
	padding-left: 30%;
	width: 100%;
	position: relative;
}
#mainPic img {
	width: 40%;
}
p.content {
	display: none;
}
p.content img {
	width: 75%;
	margin: 0;
}
div#info {
	position: absolute;
	padding-left: 10%;
	padding-right: 70%;
}
div.pList {
	display: block;
	padding-left: 10%;
	padding-right: 10%;
}

ul#project-list {
	list-style-type: none;
}
#project-list li {
	width: 15%;
	float: left;
	padding: 1%;
	margin: 1%;
	border-style: solid;
	border-radius: 20px;
	border-width: 1px;
}

img {
	max-width: 100%;
	margin: auto;
}

#underline {
	border-bottom: 1px;
	border-color: #999;
	border-style: solid;
	width: 80%;
	float: right;
	padding-right: 10%;
}